<div id="recentdealsdiv" class="right">
	<h5>Recent Deals:</h5>
	<div id="recentdeal2" class="right">
		<div id="rd2-titlediv" class="boxtitle-div">
			<span id="rd2-title" class="boxtitle-txt">Karmabit | Tiger Tooth</span>
		</div>
		<div id="rd2-subtitlediv" class="boxsubtitle-div">
			<span id="rd2-subtitle" class="boxsubtitle-txt">MW &bull; Covert Knife</span>
		</div>
		<div id="rd2-content" class="boxcontent">
			<img id="rd2-item" class="boxitem" src="imgs/knife-sample.png" />
			<div id="rd2-finalpricediv" class="boxfinalprice-div">
				<p id="rd2-finalpricetxt" class="boxfinalprice-txt">Final Price:</p>
				<h5 id="rd2-finalpricenum" class="boxfinalprice-num"><strong>$150.67</strong><h5>
			</div>
			<div id="rd2-normpricediv" class="boxnormprice-div">
				<p id="rd2-normpricetxt" class="boxnormprice-txt">Market Price:</p>
				<h5 id="rd2-normpricenum" class="boxnormprice-num"><strong>$345.00</strong><h5>
			</div>
		</div>
		<div id="rd2-footerdiv" class="boxfooter-div">
			<div class="chip chip-lblue chip-sml right">
				<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
			</div>
			<div id="rd2-saveddiv" class="boxsaved-div">
				<p id="rd2-savedtxt" class="boxsaved-txt">SAVED 99%</p>
			</div>
		</div>
	</div>

	<div id="recentdeal1">
		<div id="rd1-titlediv" class="boxtitle-div">
			<span id="rd1-title" class="boxtitle-txt">Karmabit | Tiger Tooth</span>
		</div>
		<div id="rd1-subtitlediv" class="boxsubtitle-div">
			<span id="rd1-subtitle" class="boxsubtitle-txt">MW &bull; Covert Knife</span>
		</div>
		<div id="rd1-content" class="boxcontent">
			<img id="rd1-item" class="boxitem" src="imgs/knife-sample.png" />
			<div id="rd1-finalpricediv" class="boxfinalprice-div">
				<p id="rd1-finalpricetxt" class="boxfinalprice-txt">Final Price:</p>
				<h5 id="rd1-finalpricenum" class="boxfinalprice-num"><strong>$150.67</strong><h5>
			</div>
			<div id="rd1-normpricediv" class="boxnormprice-div">
				<p id="rd1-normpricetxt" class="boxnormprice-txt">Market Price:</p>
				<h5 id="rd1-normpricenum" class="boxnormprice-num"><strong>$345.00</strong><h5>
			</div>
		</div>
		<div id="rd1-footerdiv" class="boxfooter-div">
			<div class="chip chip-lblue chip-sml right">
				<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
			</div>
			<div id="rd1-saveddiv" class="boxsaved-div">
				<p id="rd1-savedtxt" class="boxsaved-txt">SAVED 99%</p>
			</div>
		</div>
	</div>
</div>
