<div id="logoWrapper">
	<img src="/imgs/logo.png" id="aboutlogo" />
	<a class="scroll pointer" target="aboutWrapper">
		<div id="godown">
			<i class="material-icons small black-text cente godown-txt">play_for_work</i>
		</div>
	</a>
</div>
