<div id="aboutWrapper" class="container white-text">
	<h3>About Us!</h3>
	<blockquote class="flow-text">
		{{{welcomemsg}}}
	</blockquote>
	<a class="scroll pointer" target="peopleWrapper">
		<div id="godown">
			<i class="material-icons small black-text center godown-txt">play_for_work</i>
		</div>
	</a>
</div>
