<div id="aboutWrapper" class="container white-text">
	<h3>About Us!</h3>
	<blockquote class="flow-text">
		Need that dream skin? Don't have $1000 for a dragon lore? No problem!
		<br />
		We've got you covered, with the ability to earn up to 99% off, IntoTheSkins is the cheapest skin provider to date.
		<br />
		Giving users the ability to earn the skin of their dreams for just $0.01
		<br />
		Dive right IntoTheSkins now!
	</blockquote>
	<a class="scroll pointer" target="peopleWrapper">
		<div id="godown">
			<i class="material-icons small black-text center godown-txt">play_for_work</i>
		</div>
	</a>
</div>
