<div class="row">
	<div class="col s2">
		<h5 class="white-text">Tade URL:</h5>
	</div>
	<div class="col s9">
		<input class="white-text" placeholder="https://steamcommunity.com/tradeoffer/new/?partner=..." id="tadeurl" type="text" class="validate">
	</div>
	<div class="col s1">
		<a href="https://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url" id="tradeurl-help" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to take you to your trade URL."><i class="grey-text material-icons">help_outline</i></a>
	</div>
</div>
