<div class="chat hide-on-med-and-down">
	<div class="chatbtnWrapper">
		<a class="btn light-blue chatbtn"><i class="material-icons chaticon">chat</i></a>
	</div>

	<div class="chatContainer">
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
		<div class="commentWrapper">
			<div class="chat-name right">
				<span class="usernamechat"><b>[username][username][username][username]</b></span>
			</div>
			<div class="chat-profpic">
				<img class="chat-profpic-img" src="/imgs/user.png" />
			</div>
			<div class="chat-msg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
			</div>
		</div>
	</div>
</div>
