<div id="entriestbl" class="table-overflow">
	<table class="highlight white-tbl">
		<thead>
			<tr>
				<th data-field="item">Item</th>
				<th data-field="market-price">Market Price</th>
				<th data-field="totalbid">Total Bid</th>
				<th data-field="profit">Profit</th>
				<th data-field="date">Date</th>
			</tr>
		</thead>

		<tbody> <!-- <strong></strong> not working -->
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
			<tr>
				<td class="red-text"><b>Dragon Lore (FN)</b></td> <!-- color dependent on grade of item / yellow for all souvenires no matter grade -->
				<td>$20000</td>
				<td>$700</td>
				<td class="green-text"><b>$1300</b></td>
				<td class="blue-text">12/06/2016</td>
			</tr>
		</tbody>
	</table>

</div>
