<footer class="page-footer grey darken-4 hide-on-med-and-down">
	<div class="center">
		<a a href="/about#peopleWrapper" class="btn waves-effect waves-green grey darken-3 footerbtn">Staff</a>
		<a href="#termsofservice" class="btn waves-effect waves-green grey darken-3 footerbtn modal-trigger">Terms of Service</a>
		<a href="/#rd1-finalpricediv" class="btn waves-effect waves-green grey darken-3 footerbtn">How to Play</a>
		<a class="btn waves-effect waves-green grey darken-3 footerbtn">Steam Group&nbsp;<img id="steamlogin" src="imgs/steamicon.png" /></a>
		<a class="btn waves-effect waves-green grey darken-3 footerbtn">Twitter&nbsp;<img id="twitterpage" src="imgs/twitterpage.png" /></a>
		<p>

		</p>
		<img id="footerline" src="imgs/footerline.png" />
		<p id="copywritetxt" class="white-text">
			&copy; 2016 IntoTheSkins All Rights Reserved | This site is not affiliated with Valve Software
		</p>
		<a href="/" class="center"><img id="footer-logo" src="imgs/logo.png" /></a>
	</div>
</footer>

<div id="termsofservice" class="modal">
	<div class="modal-content">
		<h4>Terms of Service</h4>
		<p>...</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>
