<footer class="page-footer grey darken-4 hide-on-med-and-down">
	<div class="center">
		<a href="/about#peopleWrapper" class="btn waves-effect waves-green grey darken-3 footerbtn">Staff</a>
		<a href="#termsofservice" class="btn waves-effect waves-green grey darken-3 footerbtn modal-trigger">Terms of Service</a>
		<a href="/#rd1-finalpricediv" class="btn waves-effect waves-green grey darken-3 footerbtn">How to Play</a>
		<a href="https://steamcommunity.com/groups/Intotheskins" class="btn waves-effect waves-green grey darken-3 footerbtn">Steam Group&nbsp;<img id="steamlogin" src="imgs/steamicon.png" /></a>
		<a href="https://twitter.com/intotheskins" class="btn waves-effect waves-lblue grey darken-3 footerbtn">Twitter&nbsp;<img id="twitterpage" src="imgs/twitterpage.png" /></a>
		<p>

		</p>
		<img id="footerline" src="imgs/footerline.png" />
		<p id="copywritetxt" class="white-text">
			&copy; 2016 IntoTheSkins All Rights Reserved | This site is not affiliated with Valve Software
		</p>
		<a href="/" class="center"><img id="footer-logo" src="imgs/logo.png" /></a>
	</div>
</footer>

<div id="termsofservice" class="modal">
	<div class="modal-content">
		<h4>Terms of Service</h4>
		<p>
			The following terminology applies to these Terms of Services and any or all Agreements: “User”, “You”, “Your” refers to you, the person accessing intotheskins.com and accepting these terms and conditions (collectively, these “Terms of Service”). intotheskins.com (henceforth referred to as “IntoTheSkins”) is operated by INTOTHESKINS, Ltd. (hereafter, Company, We, Our, Us, Service, Website, Site).
		</p>
		<p>
			The following Terms of Service are entered into by and between You and Us. By using IntoTheSkins, You acknowledge and accept these Terms of Service in full and without reservation, You are agreeing to our Terms of Service and You are responsible for compliance with any applicable laws. If you disagree with these terms and conditions or any part of these of these terms and conditions, You must not use this website.
		</p>
		<p>
			<b>By using IntoTheSkins, You accept and agree to be bound by and abide by these Terms of Service and Our Privacy Policy, which is incorporated herein by reference. If You do not want to agree to these Terms of Service or the Privacy Policy, You must not use or access IntoTheSkins.</b>
		</p>
		<p>
			By using this Website, you represent, warrant, and agree that:
		</p>
		<ul>
			<li>
				&bull; You are under no legal disability that would prevent you from forming a binding contract with the Company.
			</li>
			<li>
				&bull; You must only use this website if you are at least 18 or 21 years of age (depends on jurisdiction). If you are under 18 or 21 years of age you <b>must not</b> use this Website.
			</li>
			<li>
				&bull; You will provide accurate information to the Company for purposes of establishing a user account on this Website.
			</li>
			<li>
				&bull; You agree to the valuation we place on any and all items you deposit into IntoTheSkins.
			</li>
			<li>
				&bull; You may only deposit Counter Strike Global Offensive (CSGO) items for inclusion, and should you deposit any non-CSGO items, the Company may accept such items, but will not process them and has no obligation to return the items to you.
			</li>
			<li>
				&bull; You agree that the Company offers you an alternative method of entry to participate in any game on the Site.
			</li>
		</ul>
		<p>
			IntoTheSkins or any of its staff cannot be held liable for any misuse.
		</p>
		<p>
			IntoTheSkins reserves the right to withdraw any promotion, bonus or special offer at any time.
		</p>
		<p>
			<b>YOU AGREE THAT YOU HAVE BEEN PROPERLY INFORMED AND NOTIFIED OF BIDDING AND BETTING PROCESSES AND THE LIMITED LICENSE GRANT FOUND IN THIS AGREEMENT.</b>
		</p>
		<h5>Privacy Policy</h5>
		<p>
			Steam profiles are used for identification purposes across the site. By using our service you understand and acknowledge that your Steam profile, persona name, and avatar may be shared with other site users and the general public.
		</p>
		<p>
			You agree to sign on and register for the Services through your Steam account provided by the Valve Corporation. You are solely responsible for managing your account and password,and keeping your password confidential.
		</p>
		<p>
			You are also solely responsible for restricting access to your accounts.You agree that you are responsible for all activities that occur on your account or through the use of your password by yourself or other persons.
		</p>
		<p>
			We will never ask for, collect, sell, share, or rent the personal information of any user.
		</p>
		<h5>Acceptable use</h5>
		<p>
			You must not use IntoTheSkins in any way that causes, or may cause, damage to the website or impairment of the availability of IntoTheSkins in any way which is unlawful, illegal, fraudulent or harmful. You must not use this Website for any purposes related to marketing without IntoTheSkins expressing written consent.
		</p>
		<h5>Taxes</h5>
		<p>
			You are solely responsible for complying with all applicable tax laws and regulations related to your use of this site. IntoTheSkins is not responsible for any taxes related to Your use of this Site.
		</p>
		<h5>Item Pricing</h5>
		<p>
			IntoTheSkins reserves the right to reject or discount certain items based on price, volatility or popularity. Item prices are subject to change without warning, at the sole discretion of IntoTheSkins. IntoTheSkins does not recognize quality, stickers or name tags of any items. Do not deposit items you are not willing to lose, once an offer is accepted, it cannot be cancelled.
		</p>
		<h5>Refund Policy</h5>
		<p>
			Upon depositing Your items, all payment are final and are non refundable and non cancellable. Any refunds for the use of the Site shall be at IntoTheSkins’s sole and exclusive discretion, and only provided in exceptional circumstances. You will not receive a refund in the case of an item being priced lower than the market value.
		</p>
		<h5>Credits</h5>
		<p>
			We give you the opportunity to exchange items for IntoTheSkins virtual currency. “Coins”. <b>These Coins are completely fictional.</b> These Coins credits are not real money, and do not have monetary value, and may never be redeemed for “real world money” or other items of monetary value from outside of the Service. While we may use terms like “buy”, “purchase”, “sell”, “bid”, “bet” in reference to these Coins, we do so only for convenience and such items in no way indicate that these Coins have monetary value or are real money. You acknowledge that Coins are not real currency and are not redeemable for any sum of money from us at any time. We make no guarantee as to the nature, quality or value of the features of the Service or any third-party goods or services that will be accessible through the use of Coins.
		</p>
		<h5>Credit Store</h5>
		<p>
			Counter-Strike: Global Offensive items may be deposited on IntoTheSkins in exchange for Credits. Depositing items on IntoTheSkins implies that you fully accept IntoTheSkins’s item pricing policy and refund policy (as seen above) in full and without reservation. You can redeem Credits for items in the “deposit” tab by creating a Trade Offer from Your Steam account to a bot owned by IntoTheSkins. Your selected items will be sent to the Steam trade URL linked to your IntoTheSkins account. We do not guarantee the items received by you to be identical to those selected by You on our Website. Open trade offers are automatically cancelled by IntoTheSkins if they are not accepted three minutes after opening by a IntoTheSkins bot. If a trade offer is canceled by a IntoTheSkins bot, we will return Credits into your account. We are not responsible for the name tags, stickers, or quality attached to your skins. IntoTheSkins is not responsible for the loss of your items. IntoTheSkins is not responsible for the loss of your items as a result of third-parties including Steam.
		</p>
		<h5>Auction Bids</h5>
		<p>
			In order to bid on an auction you must first purchase IntoTheSkins’s virtual currency. This virtual currency is used to bid on auctions. This virtual currency is a limited license to participate in auctions on IntoTheSkins and are completely fictional and have no monetary value. This currency follows in coincidence with our refund policy. IntoTheSkins reserves the right to modify the cost of bids on each auction, but the bid cost will always be displayed. Placing a bid will deduct the bid cost from your Site balance and increase the auction clock by a maximum of 30 seconds. This balance cannot be redeemed for real-world currency. By bidding on any item you agree to purchase that item at the current price displayed should you be the final bidder. Failure to purchase this item within 48 hours reserves IntoTheSkins the right to remove the ability for You to claim this item. If You are not the final bidder by the end of the auction You will forfeit any and all Credits You have bid during the auction.<b>By using IntoTheSkins You agree you have been properly notified of the bidding process.</b>
		</p>
		<h5>Prohibited use of the site</h5>
		<p>
			IntoTheSkins reserves the right to suspend or terminate your access for any reason whatsoever at any time without having to inform you. This may include but is not limited to transmitting material that infringes or violates the contractual rights of others or attempting to deceive users. Transmitting material that is unlawful, obscene, pornographic, defamatory, predatory of minors, threatening, harassing, abusive, slanderous, or hateful to any person or entity as determined by our sole discretion.
		</p>
		<h5>Ownership</h5>
		<p>
			All materials on this Website are intellectual property of IntoTheSkins and you may not use any of the content seen here for commercial use without permission. Exclusive rights for Counter-Strike:Global Offensive and its associated virtual items belong to Steam and Valve Corporation.
		</p>
		<h5>Affiliates</h5>
		<p>
			IntoTheSkins is not affiliated in any way with Valve Corporation and its affiliates.
		</p>
		<h5>Availability</h5>
		<p>
			Unless otherwise stated, the Services featured on this Website are only available within Australia, or in relation to postings from Australia. All advertising is intended solely for the Australian market. You are solely responsible for evaluating the fitness for a particular purpose of any downloads, programs and text available through this Site. IntoTheSkins does not warrant that the service from this site will be uninterrupted, timely or error free, although it is provided to the best ability
		</p>
		<h5>Cookies</h5>
		<p>
			Like most interactive web sites this Website uses cookies to enable Us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies.
		</p>
		<h5>Links to this Website</h5>
		<p>
			You may not create a link to any page on this website without our prior written consent. If you do create a link to a page of this website you do so at your own risk and the exclusions and limitations set out above will apply to your use of this Website by linking it.
		</p>
		<h5>Links from this Website</h5>
		<p>
			We do not monitor or review the content of other party’s websites which are linked to from this website. Opinions expressed or materials appearing on such website are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or materials. Please be aware that we are not responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they leave our site and to read the privacy statement of these sites. You should evaluate the security and trustworthiness of any other site connected to this Site. This Company will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.
		</p>
		<h5>Indemnification</h5>
		<p>
			You agree to defend, indemnify, and hold harmless IntoTheSkins, its officers, directors, affiliates, employees and agents, from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with your access to or use of the Service.
		</p>
		<h5>Limited Liability</h5>
		<p>
			You need a supported Web browser to access the Service. You acknowledge and agree that IntoTheSkins may cease to support a given Web browser and that your continuous use of the Service will require you to download a supported Web browser and that Your continuous use of the Service will require you to download a supported Web browser. You also acknowledge and agree that the performance of the service is incumbent on the performance of Your computer equipment and Your Internet connection.
		</p>
		<p>
			IntoTheSkins is not responsible for trade/account bans that may occur as a result of accepting items from Our bots. IntoTheSkins assumes no responsibility for missed bets or bids as a result of network latency or disconnections. Always ensure a stable connection before placing bets and bids, avoid placing importance bids or bets at the last second.
		</p>
		<p>
			To the fullest extent allowed by applicable law, in no event shall IntoTheSkins or its officers, directors, employees or affiliates have any liability or representation regarding the service, including that the service will meet your requirments or will work in combination with any hardware or software provided by third partires.. Whether based in contract or tort (including negligence) or strict, liability, for incidental, indirect and consequential, special or punitive damages of any kind, or for loss of revenue or profits, loss of business or goodwill, loss or corruption of, or unauthorised access to, or disclosure of information or data or other financial loss arising out of or in connection with the use, performance, failure or interruption of the site, whether foreseeable or not, and even if IntoTheSkins had been advised of the possibility of such damages. In the event that IntoTheskins is found liable to pay you any damages, IntoTheSkins total cumulative liability to you under this agreement shall not exceed $100.00 AUD. The above limitations of liability will not be affected if any remedy provided herein shall fail its essential purpose.
		</p>
		<h5>Legal</h5>
		<p>
			IntoTheSkins will have the right to investigate and prosecute violations of any of the above, including without limitation possible infringement of any intellectual property rights and possible security breaches, to the fullest extent of the law. IntoTheSkins may involve and cooperate with law enforcement authorities in prosecuting users who violate this Agreement. you acknowledge that, although IntoTheSkins has no obligation to monitor your access to or use of the Service, it has the right to do so for the purpose of operating the Service, to ensure your compliance with this Agreement, or to comply with applicable law or the order or requirement of a court, administrative agency, or other governmental body.
		</p>
		<p>
			The laws of Australia govern these terms and conditions. By accessing this Service, you consent to these terms of service and to the exclusive jurisdiction of the Australian courts in all disputes arising out of such access. If any of these terms are deemed invalid or unenforceable for ay reason, (including, but not limited to the exclusions and limitations set out above), then the invalid or unenforceable provision will be severed from these terms and the remaining terms will continue to apply. Failure of IntoTheSkins enforcing any of the provisions set out in these terms and any Agreement, or failure to exercise any option to terminate, shall not be construed as a waiver of such provisions and shall not affect the validity of these Terms or of any Agreement or any part thereof, or the right thereafter to enforce each and every provision. These terms shall not be amended, modified, varied or supplemented except in writing and signed by duly authorised representatives of IntoTheSkins.
		</p>
		<p>
			Nothing in this Agreement shall constitute a partnership or joint venture between you and IntoTheSkins.
		</p>
		<h5>Notification of Changes</h5>
		<p>
			IntoTheSkins has no obligation to inform you of any changes made to this agreement at any time.
		</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>
