<div id="freecoins" class="modal">
	<div class="modal-content">
		<h4>Free Coins:</h4>
		<p>To be eligable to receive $0.15 EVERYDAY just enter INTOTHESKINS.COM in your steam display name!</p>
		<p>In order to clamim your $0.15 you must come back here and click CLAIM.</p>
		<p>
			<div class="center">
				<i class="large material-icons light-blue-text">fiber_smart_record</i>
				<br />
				<a class="btn light-blue waves-effect waves-light">CLAIM</a>
				<!-- AFTER CLAIM:
				<div class="disabled-coins">
					<a class="btn disabled waves-effect waves-light">CLAIM</a>
					<br />
					<br />
					<span class="coins-countdown grey-text">23:59.59</span>
				</div>
				-->
			</div>
		</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">OK</a>
	</div>
</div>
