<div id="howtoplaydiv">
	<div id="htp-step1div">
		<span id="htp-step1txt">STEP 1</span>
		<div id="step1-logindiv">
			<a href="#" id="step1-login" class="waves-effect waves-green btn grey darken-3 green-text text-accent-3">Login with Steam&nbsp;<img id="steamlogin" src="imgs/steamicon.png" /></a>
		</div>
		<img id="htp-m4a4" src="imgs/m4a4flat.png" />
		<span id="htp-arrow"><i class="material-icons">trending_flat</i></span>
		<span id="htp-credits">10</span>
		<span id="htp-curency"><i class="material-icons tiny">star_rate</i></span>
		<div id="step1-subtitlediv" class="center">
			<br />
			<span id="step1-subtitle">Deposit Skins!</span>
		</div>
	</div>
	<div id="htp-step2div">
		<span id="htp-step2txt">STEP 2</span>
		<div id="step2row" class="row">
			<div id="step2-item1" class="col s4">
				<img id="step2-img1" src="imgs/knife-sample.png" />
				<div id="step2-img1-bidtxt" class="right">
					<a class="btn btn-box orange bidbtn">BID 10<i class="material-icons tinyer right">fiber_smart_record</i></a>
				</div>
			</div>

			<div id="step2-item2" class="col s4">
				<img id="step2-img2" src="imgs/knife-sample.png" />
				<div id="step2-img1-bidtxt" class="right">
					<a class="btn btn-box orange bidbtn">BID 10<i class="material-icons tinyer right">fiber_smart_record</i></a>
				</div>
			</div>

			<div id="step2-item3" class="col s4">
				<img id="step2-img3" src="imgs/knife-sample.png" />
				<div id="step2-img1-bidtxt" class="right">
					<a class="btn btn-box orange bidbtn">BID 10<i class="material-icons tinyer right">fiber_smart_record</i></a>
				</div>
			</div>
		</div>
		<div id="step2-subtitlediv" class="row">
			<span id="step2-subtitle" class="col s12">Commence Bidding!</span>
		</div>
	</div>
	<div id="htp-step3div">
		<span id="htp-step3txt">STEP 3</span>
		<img id="step3-img" src="imgs/knife-sample.png" />
		<div id="step3-finalpricediv">
			<div id="step3-finalpricediv2">
				<p id="step3-finalpricetxt">Final Price:</p>
				<h5 id="step3-finalpricenum"><strong>$150.67</strong><h5>
			</div>
			<div class="chip chip-lblue chip-sml right">
				<img src="imgs/user.png" alt="Contact Person"> You! <!-- steam prof pic -->
			</div>
		</div>
		<div id="step3-subtitlediv" class="row">
			<br />
			<span id="step3-subtitle" class="col s12">Win!</span>
		</div>
	</div>
</div>
