<div class="depositinvWrapper">
	<div class="col s7 " id="deposit-inventory">
		<div div class="row invrow">
			<div class="col s12">
				<div class="col s4 inv-box">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div div class="row invrow">
			<div class="col s12">
				<div class="col s4 inv-box">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div div class="row invrow">
			<div class="col s12">
				<div class="col s4 inv-box">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />
						<div id="rd2-footerdiv" class="boxfooter-div2">
							<p id="rd2-worthtxt" class="boxworth-txt center">WORTH 600<i class="material-icons tinyer right">fiber_smart_record</i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
