<div id="liveaucsbanner" class="container">
	<div id="bannertitle" class="card-panel light-blue">
		<span class="white-text">Live Auctions<i id="bannertoggle" class="right small material-icons"><a class="banndertoggle-a pointer" id="toggleliveaucs">clear_all</a></i></span>
	</div>
</div>
<div id="liveaucsContainer" class="container white-text">
	<div id="liveaucsdiv">
		<div id="liveaucs-content">
			<div class="row" id="liveaucs-toprow">

				<div class="col s4" id="liveauc-1">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>
					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Current Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								<!-- Before anyone bids -->
								<!--
								<p class="boxcurrentprice-txt">Current Bid:</p>
								<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								-->
						</div>
						<div class="boxbid-div">
							<a href="/auction" class="btn btn-flat btn-box orange white-text ftaucbid-txt" href="">BID 10<i class="material-icons tinyer">grade</i></a>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat btn-box blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="chip chip-lblue chip-sml current-bidder">
							<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
						</div>
						<div class="boxtimer-div">
							<p class="boxtimer-txt">Time Left:</p>
							<h5 class="boxtimer-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="liveauc-2">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>
					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Current Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								<!-- Before anyone bids -->
								<!--
								<p class="boxcurrentprice-txt">Current Bid:</p>
								<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								-->
						</div>
						<div class="boxbid-div">
							<a href="/auction" class="btn btn-flat btn-box orange white-text ftaucbid-txt" href="">BID 10<i class="material-icons tinyer">grade</i></a>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat btn-box blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="chip chip-lblue chip-sml current-bidder">
							<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
						</div>
						<div class="boxtimer-div">
							<p class="boxtimer-txt">Time Left:</p>
							<h5 class="boxtimer-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="liveauc-3">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>
					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Current Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								<!-- Before anyone bids -->
								<!--
								<p class="boxcurrentprice-txt">Current Bid:</p>
								<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								-->
						</div>
						<div class="boxbid-div">
							<a href="/auction" class="btn btn-flat btn-box orange white-text ftaucbid-txt" href="">BID 10<i class="material-icons tinyer">grade</i></a>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat btn-box blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="chip chip-lblue chip-sml current-bidder">
							<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
						</div>
						<div class="boxtimer-div">
							<p class="boxtimer-txt">Time Left:</p>
							<h5 class="boxtimer-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

			</div>

			<div class="row" id="liveaucs-toprow">

				<div class="col s4" id="liveauc-4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>
					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Current Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								<!-- Before anyone bids -->
								<!--
								<p class="boxcurrentprice-txt">Current Bid:</p>
								<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								-->
						</div>
						<div class="boxbid-div">
							<a href="/auction" class="btn btn-flat btn-box orange white-text ftaucbid-txt" href="">BID 10<i class="material-icons tinyer">grade</i></a>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat btn-box blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="chip chip-lblue chip-sml current-bidder">
							<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
						</div>
						<div class="boxtimer-div">
							<p class="boxtimer-txt">Time Left:</p>
							<h5 class="boxtimer-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="liveauc-5">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>
					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Current Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								<!-- Before anyone bids -->
								<!--
								<p class="boxcurrentprice-txt">Current Bid:</p>
								<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								-->
						</div>
						<div class="boxbid-div">
							<a href="/auction" class="btn btn-flat btn-box orange white-text ftaucbid-txt" href="">BID 10<i class="material-icons tinyer">grade</i></a>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat btn-box blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="chip chip-lblue chip-sml current-bidder">
							<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
						</div>
						<div class="boxtimer-div">
							<p class="boxtimer-txt">Time Left:</p>
							<h5 class="boxtimer-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="liveauc-6">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>
					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Current Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								<!-- Before anyone bids -->
								<!--
								<p class="boxcurrentprice-txt">Current Bid:</p>
								<h5 class="boxcurrentprice-num"><strong>$150.67</strong><h5>
								-->
						</div>
						<div class="boxbid-div">
							<a href="/auction" class="btn btn-flat btn-box orange white-text ftaucbid-txt" href="">BID 10<i class="material-icons tinyer">grade</i></a>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat btn-box blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="chip chip-lblue chip-sml current-bidder">
							<img src="imgs/user.png" alt="Contact Person"><p class="tabname">User12345567</p>
						</div>
						<div class="boxtimer-div">
							<p class="boxtimer-txt">Time Left:</p>
							<h5 class="boxtimer-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
