<div id="privateinv" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Uh Oh, Your Inventory Is Private!</h4>
		<p>Steam is saying your account's inventory is private, in order to deposit items and play we need you set set your inventory to public.</p>
		<p>If, however, you have it set to public already, Steam could be sending us wrong data/Steam could be down! Check https://issteamdown.com/</p>

		<h5>Setting your inventory to public:</h5>
		<p>Go <a href="https://steamcommunity.com/id/me/edit/settings">here</a> to go to your account's privacy settings.</p>
		<p>Scroll down to Inventory Settings (last one). Then select public:</p>
		<img class="z-depth-3" src="imgs/invsettings.PNG" />

		<br />
		<br />

		<h5 class="red-text">This can take up to 30 minutes to update, just be patient!</h5>

		<br />

		<p>Click <a href="">here</a> to refresh and check if we have picked up your updated settings.</p>
		<p>Alternatively click <a href="">here</a> to continue to our site without updating settings. However, you will not be able to trade with our bots - meaning you cannot deposit and bid on items, or withdraw items.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">OK</a>
	</div>
</div>

<!-- Pop this up if acc is private -->
