<img id="profile-userimg" src="/imgs/user.png" />
<!-- user prof pic-->
<h3>[username] {{>stafficon}}</h3> <!-- admin tools choose stafficon.hbs / modicon.hbs / devicon.hbs -->
<small>[STEAMID]</small>
