<img id="profile-userimg" src="/imgs/user.png" />
<!-- user prof pic-->
<h3>[username] <span class="modbadge white-text"><h6 class="badgetxt">M</h6></span> <!--<span class="staffbadge white-text"><h6 class="badgetxt">S</h6></span> <span class="devbadge white-text"><h6 class="badgetxt txtdev"><i class="material-icons">code</i></h6></span>--></h3>
<small>[STEAMID]</small>
