<div class="col s12">
	<div class="card transparent">
		<div class="card-title card-lrgrad-title center white-text light-blue">
			My Account Invenotry is Private! How Do I make It Public?
		</div>
		<div class="card-content card-lrgrad-cont center blue lighten-4">
			Click <a class="waves-effect waves-teal modal-trigger" href="#privateinv">here</a> for instructions.
		</div>
	</div>
</div>

<div class="col s12">
	<div class="card transparent">
		<div class="card-title card-lrgrad-title center white-text blue">
			Question
		</div>
		<div class="card-content card-lrgrad-cont center blue lighten-4">
			Answer
		</div>
	</div>
</div>

<div class="col s12">
	<div class="card transparent">
		<div class="card-title card-lrgrad-title center white-text blue">
			Question
		</div>
		<div class="card-content card-lrgrad-cont center blue lighten-4">
			Answer
		</div>
	</div>
</div>

<div class="col s12">
	<div class="card transparent">
		<div class="card-title card-lrgrad-title center white-text blue">
			Question
		</div>
		<div class="card-content card-lrgrad-cont center blue lighten-4">
			Answer
		</div>
	</div>
</div>

<div class="col s12">
	<div class="card transparent">
		<div class="card-title card-lrgrad-title center white-text blue">
			Question
		</div>
		<div class="card-content card-lrgrad-cont center blue lighten-4">
			Answer
		</div>
	</div>
</div>

<div class="col s12">
	<div class="card transparent">
		<div class="card-title card-lrgrad-title center white-text blue">
			Question
		</div>
		<div class="card-content card-lrgrad-cont center blue lighten-4">
			Answer
		</div>
	</div>
</div>
