<div id="tickets" class="row white-text">
	<div class="col s6">
		<div id="opentickets" class="card-panel orange lighten-2">
			You have <a href="#" class="a-orange"><span id="opentickets-num">0</span> open tickets.</a><span class="right"><a href="/submitticket" id="a-submitticket" class="btn-flat waves-effect waves-light a-grey">Submit a ticket?</a></span>
		</div>
	</div>

	<div class="col s6">
		<div id="closedtickets" class="card-panel green">
			You have <a href="#" class="a-lg"><span id="opentickets-num">0</span> closed tickets.</a><span class="right"><i class="material-icons">done_all</i></span>
		</div>
	</div>
</div>
