<div class="row white-text">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="e.g. Coins not added." id="tickettitle" type="text" class="validate">
				<label for="tickettitle">Title</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select class="white-text">
					<option value="" disabled selected><span>Choose Department</span></option>
					<option value="1">Withdrawing Winning Skins</option>
					<option value="2">Depositing Items</option>
					<option value="3">Credit</option>
					<option value="4">Bidding</option>
					<option value="6">Other</option>
				</select>
				<label>Department</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="textarea" class="materialize-textarea"></textarea>
				<label for="textarea">Description</label>
			</div>
		</div>
		<div class="row">
			<div id="submitticket" class="col s12 btn waves-effect waves-dark light-blue">
				Submit Ticket <span class="right"><i class="material-icons">check</i></span>
			</div>
		</div>
	</form>
</div>
