<div id="upcomingaucsbanner" class="container">
	<div id="bannertitle" class="card-panel light-blue">
		<span class="white-text">Upcoming Auctions<i id="bannertoggle" class="right small material-icons"><a class="banndertoggle-a pointer" id="toggleupcomingaucs">clear_all</a></i></span>
	</div>
</div>
<div id="upcomingaucsContainer" class="container white-text">
	<div id="upcomingaucsdiv">
		<div id="upcomingaucs-content">
			<div class="row" id="upcomingaucs-toprow">

				<div class="col s4" id="upcomingauc-1">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Starting Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$0.67</strong><h5>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="boxtimer2-div">
							<p class="boxtimer2-txt">Bidding Starts:</p>
							<h5 class="boxtimer2-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="upcomingauc-2">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Starting Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$0.67</strong><h5>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="boxtimer2-div">
							<p class="boxtimer2-txt">Bidding Starts:</p>
							<h5 class="boxtimer2-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="upcomingauc-3">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Starting Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$0.67</strong><h5>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="boxtimer2-div">
							<p class="boxtimer2-txt">Bidding Starts:</p>
							<h5 class="boxtimer2-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="upcomingaucs-toprow">

				<div class="col s4" id="upcomingauc-4">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Starting Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$0.67</strong><h5>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="boxtimer2-div">
							<p class="boxtimer2-txt">Bidding Starts:</p>
							<h5 class="boxtimer2-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="upcomingauc-5">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Starting Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$0.67</strong><h5>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="boxtimer2-div">
							<p class="boxtimer2-txt">Bidding Starts:</p>
							<h5 class="boxtimer2-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>

				<div class="col s4" id="upcomingauc-6">
					<div class="boxtitle-div">
						<span class="boxtitle-txt">Karmabit | Tiger Tooth</span>
					</div>
					<div class="boxsubtitle-div">
						<span class="boxsubtitle-txt">MW &bull; Covert Knife</span>
					</div>

					<div class="boxcontent">
						<img class="boxitem" src="imgs/knife-sample.png" />

						<div class="boxcurrentprice-div">
							<p class="boxcurrentprice-txt">Starting Bid:</p>
							<h5 class="boxcurrentprice-num"><strong>$0.67</strong><h5>
						</div>
						<div class="boxinpect-div">
							<a class="btn btn-flat blue white-text" href="" class="boxinpect-txt">INPECT IN GAME</a>
						</div>
						<div class="boxtimer2-div">
							<p class="boxtimer2-txt">Bidding Starts:</p>
							<h5 class="boxtimer2-num"><strong>00:00.01</strong><h5>
						</div>
						<div class="boxnormprice-div">
							<p class="boxnormprice-txt">Market Price:</p>
							<h5 class="boxnormprice-num"><strong>$345.00</strong><h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
