<div id="welcomediv" class="left">
	<div id="welcome" ng-controller="welcome">
		<h5>Welcome to IntoTheSkins!</h5>
		<blockquote class="ellipsis" id="welcomemessage">
				{{{welcomemsg}}}
		</blockquote>
		<a id="readmorebtn" href="#" class="btn waves-effect waves light light-blue white-text">Click here to read more!<i class="material-icons right">call_made</i></a>
	</div>
</div>
