<div id="welcomeContainer" class="container white-text">
	<div id="tophalfwelcome">
		{{>recentdeals}}
		{{>welcomemessage}}
	</div>

	<div id="bottomhalfwelcome">
		{{>howtoplay}}
	</div>
</div>

{{>featuredauction}}

{{>liveauctions}}

{{>upcomingauctions}}

{{>footer}}
