<div id="profileWrapper" class="container">
	<div id="prof-info" class="white-text center">
		{{>profilename-pic}}
	</div>

	<div id="prof-entriesdiv">
		{{>entriestable}}
	</div>
</div>

{{>footer}}
