<div id="settingsWrapper" class="container">
	<div id="settingstitle">
		<blockquote class="white-text">
			<h3>Settings</h3>
		</blockquote>
	</div>

	<br />

	{{>accsettings}}

	<br />

	{{>accopt-ins}}

</div>
