<div class="container">
	<div id="supporttitle">
		<blockquote class="white-text">
			<h3>Support</h3>
		</blockquote>
	</div>

	{{>supportbanners}}


	<div id="supporttitle2">
		<blockquote class="white-text">
			<h4>FAQ</h4>
		</blockquote>
	</div>

	<div id="faqcontainer" class="row">
		{{>questions}}
	</div>
</div>
