<div class="container white-text" id="ticketsWrapper">
	<div id="opentickets" class="card-panel orange lighten-2">
		<span class="a-orange">Open tickets.</span><span class="right"><a href="/submitticket" id="a-submitticket" class="btn-flat waves-effect waves-light a-grey">Submit a ticket?</a></span>
	</div>
	<div id="openticketsWrapper">
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
	</div>

	<div id="closedtickets" class="card-panel green">
		<span class="a-lg">Closed tickets.</span><span class="right"><i class="material-icons">done_all</i></span>
	</div>
	<div id="closedticketsWrapper">
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
		<div class="card-panel">
			<a href="">Title</span><a class="right">Date</a>
		</div>
	</div>
</div>
