<div class="container" id="viewticketContainer">
	<div class="row" id="viewticketWrapper">
		<div class="col s6">
			<div class="card-panel light-blue white-text">
				Title
			</div>
		</div>
		<div class="col s6">
			<div class="card-panel light-blue white-text">
				Department
			</div>
		</div>
		<div class="col s12">
			<div class="card-panel light-blue white-text">
				Description<span class="right"><i class="material-icons tinyer">alarm</i></span><span class="right">Date/Time&nbsp;&nbsp;</span>
				<p>
					...
				</p>
			</div>
		</div>
		<div class="repliesContainer">
			<div class="reply">
				<div class="col s12">
					<div class="card-panel blue-text">
						<i class="material-icons tinyer left">reply</i>[username]<span class="right"><i class="material-icons tinyer">alarm</i></span><span class="right">Date/Time&nbsp;&nbsp;</span>
						<p>
							...
						</p>
					</div>
				</div>
			</div>
			<div class="reply">
				<div class="col s12">
					<div class="card-panel blue-text">
						<i class="material-icons tinyer left">reply</i>[username]<span class="right"><i class="material-icons tinyer">alarm</i></span><span class="right">Date/Time&nbsp;&nbsp;</span>
						<p>
							...
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="userreplyContainer white-text">
			<div class="input-field col s12">
				<input id="userreply" type="text" class="validate">
				<label for="userreply">Your Reply</label>
			</div>
			<div class="col s12">
				<a class="waves-effect waves-light btn btn100 green"><i class="material-icons tinyer">reply</i></a>
			</div>
		</div>
	</div>
</div>

{{>footer}}
