[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

html, body {
	height: 100%;
	background-image: url('../imgs/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Arimo', sans-serif;
	z-index: 0;
}
div.mobilemsgWrapper {
	height: 100%;
}
div.mobilemsg {
	margin-left: 5%;
	margin-right: 5%;
	border: solid 3px #fff;
	border-radius: 10px;
}
p.mobilemsg-p {
	padding: 7px;
	font-family: 'Nunito', sans-serif;
}
.sidebar-title {
	padding-left: 20px;
	padding-top: 10px;
}
img#logo {
	height: 54px;
	margin-top: 2px;
}
img#steamlogin,img#steamgroup {
	height: 20px;
	padding-top: 5px;
}
img#twitterpage {
	padding-top: 7px;
	height: 20px;
}
img#steamlogin-sb, img#twitterpage-sb {
	height: 20px;
	display: block;
}
img#header-userimg {
	height: 30px;
	border-radius: 15px;
	margin-top: 18px;
	margin-bottom: 18px;
}
div#welcomeContainer {
	margin-top: 20px;
	height: calc(100% - 90px);
	top: 0;
	bottom: 0;
	position: relative;
}
div#tophalfwelcome {
	height: 50%;
	position: relative;
}
a#readmorebtn {
	width: 100%;
}
div#recentdealsdiv {
	height: 100%;
	width: 63%;
}
div#recentdeal1, div#recentdeal2 {
	position: relative;
	/*border-radius: 5px;*/
	width: 48%;
	height: 96%;
}
.boxtitle-div {
	/*border-radius: 5px;*/
	width: 100%;
    background: rgb(147, 63, 154);
    /*background: -webkit-linear-gradient(left, rgb(147, 63, 154) , transparent); *Colour of weapon grade*
    background: -o-linear-gradient(right, rgb(147, 63, 154) , transparent);
    background: -moz-linear-gradient(right, rgb(147, 63, 154) , transparent);
    background: linear-gradient(to right, rgb(147, 63, 154) , transparent);*/
}
.boxsubtitle-div {
	/*border-radius: 5px;*/
	width: 100%;
	background: rgb(72, 13, 77);
    background: -webkit-linear-gradient(top, rgb(72, 13, 77) , transparent); /* *Colour of weapon grade* */
    background: -o-linear-gradient(bottom, rgb(72, 13, 77) , transparent);
    background: -moz-linear-gradient(bottom, rgb(72, 13, 77) , transparent);
    background: linear-gradient(to bottom, rgb(72, 13, 77) , transparent);
}
.boxtitle-txt {
	font-size: 18px;
	padding-left: 5px;
}
.boxsubtitle-txt {
	font-size: 11px;
	padding-left: 5px;
}
.boxcontent {
	height: 62%;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) , transparent);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) , transparent);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) , transparent);
    background: linear-gradient(to top, rgba(0,0,0,0.5) , transparent);
}

.boxfinalprice-div, .boxcurrentprice-div {
	top: 8px;
	z-index: 10;
	position: absolute;
	text-align: right;
	padding-right: 5px;
	right: 0px;
	width: 50%;
	border-radius: 3px;
	background: rgba(23, 164, 24, 0.7);
    background: -webkit-linear-gradient(right, rgba(23, 164, 24, 0.7) , transparent);
    background: -o-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
    background: -moz-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
    background: linear-gradient(to left, rgba(23, 164, 24, 0.7) , transparent);
}
.boxcurrentprice-div2 {
	top: 140px;
	z-index: 10;
	position: absolute;
	text-align: right;
	padding-right: 5px;
	right: 30px;
	width: 45%;
	border-radius: 3px;
	background: rgba(23, 164, 24, 0.7);
    background: -webkit-linear-gradient(right, rgba(23, 164, 24, 0.7) , transparent);
    background: -o-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
    background: -moz-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
    background: linear-gradient(to left, rgba(23, 164, 24, 0.7) , transparent);
}
.ftboxcurrentprice-div {
	top: 110px;
	z-index: 10;
	position: absolute;
	text-align: right;
	padding-right: 5px;
	right: 30px;
	width: 20%;
	border-radius: 3px;
	background: rgba(23, 164, 24, 0.7);
	background: -webkit-linear-gradient(right, rgba(23, 164, 24, 0.7) , transparent);
	background: -o-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
	background: -moz-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
	background: linear-gradient(to left, rgba(23, 164, 24, 0.7) , transparent);
}
.boxinpect-div {
	bottom: 70px;
	z-index: 10;
	position: absolute;
	text-align: left;
	padding-left: 5px;
}
.boxbid-div {
	bottom: 110px;
	z-index: 10;
	position: absolute;
	text-align: left;
	padding-left: 5px;
}
.boxnormprice-div {
	bottom: 0;
	z-index: 10;
	position: absolute;
	right: 0px;
	text-align: right;
	padding-right: 5px;
	width: 50%;
	border-radius: 3px;
	background: rgba(23, 139, 164, 0.5);
    background: -webkit-linear-gradient(right, rgba(23, 139, 164, 0.5) , transparent);
    background: -o-linear-gradient(left, rgba(23, 139, 164, 0.5) , transparent);
    background: -moz-linear-gradient(left, rgba(23, 139, 164, 0.5) , transparent);
    background: linear-gradient(to left, rgba(23, 139, 164, 0.5) , transparent);
}
.boxnormprice-div2 {
	top: 200px;
	z-index: 10;
	position: absolute;
	right: 0px;
	text-align: right;
	padding-right: 5px;
	right: 30px;
	width: 45%;
	border-radius: 3px;
	background: rgba(23, 139, 164, 0.5);
    background: -webkit-linear-gradient(right, rgba(23, 139, 164, 0.5) , transparent);
    background: -o-linear-gradient(left, rgba(23, 139, 164, 0.5) , transparent);
    background: -moz-linear-gradient(left, rgba(23, 139, 164, 0.5) , transparent);
    background: linear-gradient(to left, rgba(23, 139, 164, 0.5) , transparent);
}
.ftboxnormprice-div {
	bottom: 0;
	z-index: 10;
	position: absolute;
	left: 0px;
	text-align: left;
	padding-left: 5px;
	width: 20%;
	border-radius: 3px;
	background: rgba(23, 139, 164, 0.5);
	background: -webkit-linear-gradient(left, rgba(23, 139, 164, 0.5) , transparent);
    background: -o-linear-gradient(right, rgba(23, 139, 164, 0.5) , transparent);
    background: -moz-linear-gradient(right, rgba(23, 139, 164, 0.5) , transparent);
    background: linear-gradient(to right, rgba(23, 139, 164, 0.5) , transparent);
}
.boxfinalprice-txt, .boxcurrentprice-txt, .boxnormprice-txt, .boxtimer-txt, .boxtimer2-txt, .boxinpect-txt, .boxbid-txt, .ftboxnormprice-txt {
	margin-top: 0px;
	padding-left: 7px;
	position: relative;
}
.boxfinalprice-num, .boxcurrentprice-num, .boxnormprice-num, .boxtimer-num, .boxtimer2-num, .ftboxnormprice-num {
	margin-top: -15px;
	margin-bottom: -10px;
	padding-left: 7px;
}
.ftboxtimer-txt {
	margin-top: 30px;
	padding-right: 30px;
	text-align: right;
	position: relative;
}
.ftboxtimer-num {
	margin-top: -15px;
	margin-bottom: -10px;
	padding-right: 30px;
	text-align: right;
}
.ftboxbid-div, .ftboxinspect-div {
	float: right;
	padding-right: 30px;
	padding-top: 12px;
}
.boxbid-div-aucp {
	float: right;
	padding-right: 30px;
}
.boxinspect-div-aucp {
	float: right;
	padding-right: 30px;
}
.ftaucbid-txt, .aucbid-txt-aucp {
	font-size: 14px;
}
.ftboxitem {
	height: 30%;
	margin-top: -60px;
	padding-left: 70px;
	padding-bottom: 20px;
}
.current-bidder {
	top: 68px;
	right: 0;
	position: absolute;
}
.ftcurrent-bidder {
	bottom: 0px;
	right: 30px;
	position: absolute;
}
.boxitem {
	z-index: -1;
	margin: 10px;
	width: 80%;
}
.boxitem2-div {
	z-index: -1;
	width: 50%;
}
.boxitem2 {
	margin-top: 30px;
	margin-left: 20px;
	height: 100%;
}
.box-body-left {
	float: right;
	height: 100%;
	width: 50%;
}
.boxfooter-div {
	position: absolute;
	border-radius: 3px;
	height: 30px;
	width: 100%;
	display: block;
	background: rgba(60, 60, 60, 0.4);
    background: -webkit-linear-gradient(left, rgba(60, 60, 60, 0.4) , transparent);
    background: -o-linear-gradient(right, rgba(60, 60, 60, 0.4) , transparent);
    background: -moz-linear-gradient(right, rgba(60, 60, 60, 0.4) , transparent);
    background: linear-gradient(to right, rgba(60, 60, 60, 0.4) , transparent);
}
.boxfooter-div2 {
	position: absolute;
	border-radius: 3px;
	height: 25px;
	width: 100%;
	display: block;
	background: rgba(255, 145, 0, 1);
}
.boxsaved-txt {
	font-family: 'Nunito', sans-serif !important;
	font-size: 20px;
	margin: 0px !important;
	padding-left: 5px;
}
.boxworth-txt {
	font-size: 15px;
	margin: 0px !important;
	padding-right: 10px;
	padding-top: 2px;
}
p.tabname {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	max-width: 80px;
	margin-top: 0px;
	display: block;
}
.ftbox-body {
	width: 100%;
	position: relative;
	/*border-radius: 5px;*/
	background: rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) , transparent);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) , transparent);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) , transparent);
    background: linear-gradient(to top, rgba(0,0,0,0.5) , transparent);
}
.box-body {
	width: 70%;
	height: 290px;
	position: absolute;
	/*border-radius: 5px;*/
	background: rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) , transparent);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) , transparent);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) , transparent);
    background: linear-gradient(to top, rgba(0,0,0,0.5) , transparent);
}
div#welcomediv {
	height: 100%;
	width: 35%;
}
div#bottomhalfwelcome {
	height: 40%;
	position: relative;
	padding-top: 50px;
}
div#howtoplaydiv {
	height: 100%:
	width: 100%;
	postion: relative;
}
div#htp-step3div {
	z-index: 1;
	position: absolute;
	border-radius: 60px;
	width: 100%;
	height: 100%;
	background: rgba(60, 60, 60, 0.4);
}
div#htp-step2div {
	z-index: 2;
	position: absolute;
	border-radius: 60px;
	width: 67%;
	height: 100%;
	background: rgba(60, 60, 60, 0.4);
}
div#htp-step1div {
	z-index: 3;
	position: absolute;
	border-radius: 60px;
	width: 33%;
	height: 100%;
	background: rgba(60, 60, 60, 0.6);
}
span#htp-step1txt {
	padding-left: 40%;
	font-family: 'Nunito', sans-serif !important;
	font-size: 25px;
	margin-top: 30px;
	display: block;
}
span#htp-step2txt {
	padding-left: 65%;
	font-family: 'Nunito', sans-serif !important;
	font-size: 25px;
	margin-top: 30px;
	display: block;
}
span#htp-step3txt {
	padding-left: 78%;
	font-family: 'Nunito', sans-serif !important;
	font-size: 25px;
	margin-top: 30px;
	display: block;
}
div#step1-logindiv {
	width: 100%;
	display: block;
}
a#step1-login {
	width: 90%;
	margin-left: 5%;
}
img#htp-m4a4 {
	width: 40%;
	display: block;
	padding-left: 10%;
}
span#htp-arrow {
	margin-top: -35px;
	padding-left: 50%;
	display: block;
}
div#step1-subtitlediv {
	width: 100%;
}
div#step2-subtitlediv {
	width: 100%;
	float: right;
	padding-left: 54%;
	display: block;
	position: relative;
}
div#step3-subtitlediv {
	width: 100%;
	float: right;
	padding-left: 78%;
	display: block;
	position: relative;
}
span#step1-subtitle, span#step2-subtitle, span#step3-subtitle {
	font-family: 'Nunito', sans-serif !important;
	font-size: 20px;
}
span#htp-credits {
	margin-top: -25px;
	padding-left: 67%;
	display: block;
}
span#htp-curency {
	margin-top: -20px;
	padding-left: 75%;
	display: block;
}
div#step2row {
	width: 50%;
	float: right;
	right: 3%;
	padding-top: 10px;
	display: block;
	position: relative;
}
img#step2-img1, img#step2-img2, img#step2-img3 {
	width: 100%;
}
div#step2-img1-bidtxt, div#step2-img2-bidtxt, div#step2-img3-bidtxt {
	height: 20px;
	font-family: 'Nunito', sans-serif !important;
	font-size: 12px;
	display: block;
	padding-top: 2px;
	text-align: center;
	width: 100%;
}
.bidbtn {
	width: 100%;
}
img#step3-img {
	width: 12%;
	float: right;
	padding-top: 10px;
	right: 16%;
	display: block;
	position: relative;
}
div#step3-finalpricediv {
	margin-top: 10px;
	z-index: 10;
	position: absolute;
	right: 35px;
	width: 10%;
}
div#step3-finalpricediv2 {
	margin-top: 50%;
	display: block;
	position: absolute;
	text-align: right;
	padding-right: 5px;
	right: 0px;
	border-radius: 3px;
	/*border-radius: 5px;*/
	background: rgba(23, 164, 24, 0.7);
	background: -webkit-linear-gradient(right, rgba(23, 164, 24, 0.7) , transparent);
	background: -o-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
	background: -moz-linear-gradient(left, rgba(23, 164, 24, 0.7) , transparent);
	background: linear-gradient(to left, rgba(23, 164, 24, 0.7) , transparent);

}
p#step3-finalpricetxt {
	margin-top: 0px;
	padding-left: 7px;
}
h5#step3-finalpricenum {
	margin-top: -15px;
	margin-bottom: -10px;
	padding-left: 7px;
}
div#ftaucdiv, div#liveaucsdiv, div#upcomingaucsdiv {
	height: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
i#bannertoggle {
	margin-top: -5px;
}
a.banndertoggle-a {
	color: #fff !important;
}
img#imgtest4 {
	width: 100%;
}
div#liveauc-1, div#liveauc-2, div#liveauc-3, div#liveauc-4, div#liveauc-5, div#liveauc-6 {

}
img#imgtest5, img#imgtest6, img#imgtest7, img#imgtest8, img#imgtest9, img#imgtest10 {
	width: 80%;
}
div#depositContainer {
	height: 200%;
	padding-top: 30px;
}
div#depositWrapper {
	padding-bottom: 15px;
}
div#deposit-inventory, div#deposit-submit {
	overflow-y: scroll;
	height: 600px;
}
.invrow {
	padding-bottom: 30px;
}
div.inv-box {
	pading: 0 !important;
}
img#key {
	height: 25px;
}
img#csgoanalyst {
	height: 35px;
	margin-top: -10px;
}
div#logoWrapper, div#aboutWrapper, div#peopleWrapper {
	padding-top: 60px;
	padding-bottom: 115px;
}
div#peopleWrapper {
	margin-bottom: 200px;
}
img#aboutlogo {
	padding-left: calc((100% - 460px) / 2 );
}
div#godown {
	background-color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left: 50%;
	margin-right: 50%;
}
.godown-txt {
	color: transparent;
	padding-left: 5px;
	padding-top: 3px;
}
.devsmedia {
	height: 30px;
	margin: 10px 20px 10px 20px;
}
.pointer {
	cursor: pointer;
}
div#auctionContainer {
	height: 100%;
}
div.auctionWrapper {
	padding-top: 60px;
	padding-bottom: 20px;
	/*height: 100%;*/
}
/*div#profileWrapper {
	height: 100%;
}*/
div#prof-info {
	padding-top: 40px;
}
div#prof-entriesdiv {
	padding-top: 40px;
}
div#entriestbl {
	overflow-y: scroll;
	height: 300px;
}
img#profile-userimg {
	height: 80px;
	border-radius: 40px;
}
/*div#settingsWrapper {
	height: 100%;
}*/
/*div#supportWrapper {
	height: 300%;
	bottom: 0;
}*/
div#faqcontainer {
	height: 600px;
	overflow-y: scroll !important;
}
div#settingstitle, div#supporttitle, div#supporttitle2 {
	padding-top: 20px;
}
a#tradeurl-help:hover {
	cursor: pointer;
}
a#a-submitticket {
	margin-top: -7px;
}
/*div#ticketsWrapper {
	height: 100%;
}*/
div#openticketsWrapper, div#closedticketsWrapper {
	height: 30%;
	overflow-y: scroll;
}
div#viewticketWrapper {
	padding-top: 30px;
}
div#viewticketContainer {
	height: 300%;
}


/*footer*/
a.footerbtn{
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
}
img#footerline {
	height: 1px;
	width: 55%;
	margin-top: 5px;
}
img#footer-logo {
	height: 50px;
	margin-top: -10px;
}


/*classes*/
.hide {
	visibility: none;
}
.show {
	visibility: visible;
}
.ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 10; /* number of lines to show */
   line-height: 20px;        /* fallback */
   max-height: 120px;       /* fallback */
}
blockquote {
	border-left: 5px solid #03a9f4 !important;
}
.chip-lblue {
	background-color: #039be5 !important;
	color: #fff !important;
}
.chip-sml {
	height: 30px !important;
}
.chip-big {
	height: 50px !important;
	border-radius: 25px !important;
	margin-right: 150px !important;
}
.chip-sml img {
	height: 30px !important;
	width: 30px !important;
}
.chip-big img {
	height: 50px !important;
	width: 50px !important;
}
p.tabname-big {
	font-size: 16px !important;
	padding-top: 7px !important;
}
.tinyer {
	font-size: 1.2em !important;
}
.currency {
	padding-top: 2px;
}
.btn-box {
	padding-left: 3px !important;
	padding-right: 3px !important;
}
.white-tbl {
	background-color: rgba(255, 255, 255, 0.9) !important;
	border-radius: 3px !important;
}
.chatbtnWrapper {
	padding-left: 4.5%;
	bottom: 30px;
	position: fixed;
}
.chatbtn {
	height: 60px !important;
	width: 60px !important;
	border-radius: 30px !important;
	display: block;
	padding: 0 !important;
}
.chaticon {
	font-size: 1.5em !important;
	margin-top: 11px;
}
.chatContainer {
	height: 70%;
	width: 13%;
	margin-left: 10px;
	top: 80px;
	position: fixed;
	display: block;
	border-radius: 12px;
	background-color: #fff;
	overflow-y: scroll;
}
.commentWrapper {
	width: 90%;
	height: auto;
	margin-left: 5%;
	padding-top: 7px;
	padding-bottom: 5px;
}
.chat-profpic {
	width: 15%;
}
.chat-profpic-img {
	width: 100%;
	border-radius: 50%;
}
.chat-name {
	width: 80%;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 3px;
}
.chat-msg {
	width: 100%;
	padding-top: 1px;
}


/* html overflow */
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.79);
}
html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
}

/* chat */
.chatContainer::-webkit-scrollbar {
    width: 0;
}

/* ticketsWrapper */
#openticketsWrapper::-webkit-scrollbar, #closedticketsWrapper::-webkit-scrollbar {
    width: 0;
}

/* .table-overflow, depositWrapper, faqcontainer overflow */
.table-overflow::-webkit-scrollbar, #faqcontainer::-webkit-scrollbar, #deposit-inventory::-webkit-scrollbar, #deposit-submit::-webkit-scrollbar {
    width: 5px;
}
.table-overflow::-webkit-scrollbar-track, #faqcontainer::-webkit-scrollbar-track, #deposit-inventory::-webkit-scrollbar-track, #deposit-submit::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.2);
}
.table-overflow::-webkit-scrollbar-thumb, #faqcontainer::-webkit-scrollbar-thumb, #deposit-inventory::-webkit-scrollbar-thumb, #deposit-submit::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.modbadge {
	height: 25px;
	width: 25px;
	border-radius: 18px;
	position: absolute;
	background-color: #00c2ff;
	margin-top: 13px;
	margin-left: 2px;
}
.adminbadge {
	height: 25px;
	width: 25px;
	border-radius: 18px;
	position: absolute;
	background-color: #ffd600;
	margin-top: 13px;
	margin-left: 2px;
}
.devbadge {
	height: 25px;
	width: 25px;
	border-radius: 18px;
	position: absolute;
	background-color: #777777;
	margin-top: 13px;
	margin-left: 2px;
}
.badgetxt {
	font-size: 16px;
	font-family: 'Nunito', sans-serif !important;
	margin-top: 4px;
}
.txtdev {
	margin-top: 0px !important;
	font-size: 0.5em !important;
}
.a-orange {
	color: rgb(193, 97, 0) !important;
}
.a-grey {
	color: rgba(255, 255, 255, 0.8) !important;
}
.a-lg {
	color: rgb(205, 250, 140) !important;
}
.card-lrgrad-title {
	border-radius: 6px 6px 0 0 !important;
}
.card-lrgrad-cont {
	border-radius: 0 0 6px 6px !important;
}
.waves-effect.waves-lblue .waves-ripple {
	background-color: rgba(72, 92, 121, 0.95);
}
.btn100 {
	width: 100%;
}
.card-title {
	padding: 4px;
	font-size: 1.2rem !important;
}

/* Admin */

div#adminWrapper {
    height: 100%;
    bottom: 0;
}
div#chartpanel {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
}
div#chartsTabs {
    position: fixed;
    float: right !important;
    right: 10%;
    width: 20%;
    height: 100%;
    margin-top: 80px;
}
.tabs {
    overflow-x: hidden !important;
}
.collection {
    background-color: rgba(255, 255, 255, .02) !important;
    border: transparent !important;
    outline: transparent !important;
    border-radius: 7px !important;
}
.collection-about {
    background-color: rgb(255, 255, 255) !important;
    border: transparent !important;
    outline: transparent !important;
    border-radius: 7px !important;
}
.collection-item {
    background-color: rgba(255, 255, 255, .02) !important;
    border: transparent !important;
}
.chartsize {
    width: 100%;
    height: 100%;
}
.firstchart {
    padding-top: 52px;
    padding-bottom: 50%;
}
.chartarea {
    padding-top: 115px;
    padding-bottom: 200%;
}
.cardtitle {
    height: 60px;
}
.adminhtml {
	background-image: url('../imgs/white.jpg') !important;
}
.adminsmall {
    color: #80d8ff !important;
}
h5#admintitle {
    margin-top: -4px;
}
div#admintitle {
    width: 75%;
    margin-left: 15%;
    position: fixed;
    z-index: 1001;
}
strong.summarytxt {
    font-size: 1.3em;
}
img.tabimg {
    position: relative;
    height: 80px;
    width: 80px;
}
.cardsize {
    width: 100%;
}
tbody#adminuserbody {
    color: #a19e9e;
}
strong#useronline {
    color: #3ccbeb !important;
}
[type="checkbox"].filled-in-mod:not(:checked)+label:after {
    border: 2px solid #a19e9e !important;
}
[type="checkbox"].filled-in-mod:checked+label:after {
    border: 2px solid #3ccbeb !important;
    background-color: #3ccbeb !important;
}
[type="checkbox"].filled-in-ban:not(:checked)+label:after {
    border: 2px solid #1cbd28 !important;
}
[type="checkbox"].filled-in-ban:checked+label:after {
    border: 2px solid #eb3c3c !important;
    background-color: #eb3c3c !important;
}
img#table-prof-pic {
    height: 25px;
    width: 25px;
    border-radius: 7px;
    margin-right: 15px;
    margin-bottom: -7px;
}
strong#statsprofit {
    color: #00e676 !important;
}
/*div#withdrawwrapper {
    height: 100%;
}*/
th {
	border-radius: 0 !important;
}
.indicator {
	background-color: rgb(0, 133, 255) !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: transparent;
	width: 0;
}
ul.tabs {
	background-color: transparent;
}
